h1{ font-family: Georgia, 'Times New Roman', Times, serif;

}
link{

}
section{

}
.Links{

}
#Will{
float:left;
height:259x;
width:172px;
}
#FTLeft{
float:left
}
.clearfix::after {
    content: " ";
    display: block;
    clear: both;
  }
body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}